@model IEnumerable<UserViewModel>

<a class="btn btn-success text-light" asp-action="Create">Create</a>

<table class="table">
    <tbody>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Actions</th>
        </tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.Age</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                        <a class="btn btn-primary text-light" asp-action="Details" asp-route-id="@user.Id">Details</a>
                        <a class="btn btn-warning text-light" asp-action="Update" asp-route-id="@user.Id">Update</a>
                        <button type="submit" class="btn btn-danger text-light">Delete</button>
                    </form>    
                </td>
            </tr>            
        }
    </tbody>
</table>