@page "/games/search"
@inject IGenreImageService _genreService
@inject IGameImageService _gameService

<div class="row">
    <div class="col">
        <h1 class="text-info">Search Game</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6">
        <input 
            type="text" 
            class="form-control mb-2" 
            placeholder="Enter Game Name" 
            @bind-value="_gameName"
            @bind-value:event="oninput"/>
    
        <select class="form-control mb-2" @bind="_selectedGameGenre"> 
            <option value="-1">-- Select Game Genre --</option>
            @foreach (var item in _genre)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        
        <div class="row mb-2">
            <div class="col">
                <div class="custom-control custom-checkbox">
                    <input 
                        type="checkbox" 
                        class="custom-control-input" 
                        id="futureReleaseId" 
                        @bind="_futureRelease"/>
                    <label class="custom-control-label" for="futureReleaseId">Future Release?</label>
                </div>
            </div>
            <div class="col">
                <div class="custom-control custom-checkbox">
                    <input 
                        type="checkbox" 
                        class="custom-control-input" 
                        id="canBuyId" 
                        @bind="_canBuy"/>
                    <label class="custom-control-label" for="canBuyId">Can Buy The Game?</label>
                </div>
            </div>
        </div>
        
        <button
            type="button"
            class="btn btn-outline-primary form-control mb-2"
            @onclick="SearchTheGame">
            Search Game
        </button>
        <button
            type="button"
            class="btn btn-outline-danger form-control mb-2"
            @onclick="ResetTheGame">
            Reset
        </button>
    </div>

    <div class="col-sm-12 col-md-6 mb-2">
        <div class="border border-primary rounded p-4">
            <p>Game Name: @_gameName</p>
            <p>Genre Choose: @_selectedGameGenre</p>
            <p>Future Release?: @_futureRelease</p>
            <p>Can Buy?: @_canBuy</p>
        </div>
    </div>
</div>
<div class="border border-success rounded p-3 mb-2">
    <ListGameImage ListOfItems="_games"/>
</div>

@code {
    string _gameName = string.Empty;
    string _selectedGameGenre = "-1";
    List<GenreImage> _genre = new();
    List<GameImage> _games = new();
    bool _futureRelease;
    bool _canBuy;

    protected override void OnInitialized()
    {
        _genre = _genreService.GetAllGenres();
    }

    void SearchTheGame()
    {
        _games = _gameService.GetAllGames();

        if (!string.IsNullOrWhiteSpace(_gameName))
        {
            _games = _games.Where(b => b.Name.ToLower().Contains(_gameName.ToLower())).ToList();
        }
        if (_selectedGameGenre != "-1")
        {
            _games = _games.Where(b => b.GenreId.ToString().Equals(_selectedGameGenre)).ToList();
        }
        if (_futureRelease)
        {
            _games = _games.Where(b => b.ReleaseDate > DateTime.Now).ToList();
        }
        if (_canBuy)
        {
            _games = _games.Where(b => b.ReleaseDate <= DateTime.Now).ToList();
        }
    }

    void ResetTheGame()
    {
        _gameName = string.Empty;
        _selectedGameGenre = "-1";
        _futureRelease = false;
        _canBuy = false;

        _games = new();
    }
}