<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>PagesCount</th>
            <th>PublishDate</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @if (_books is null)
        {
            <tr>Loading...</tr>
        }
        else
        {
            @foreach (var item in _books)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td>@item.Author</td>
                    <td>@item.PagesCount</td>
                    <td>@item.PublishDate.ToString("dd.MM.yyyy")</td>
                    <td>
                        <button class="btn btn-warning text-white" @onclick="() => Edit(item.Id)">Edit</button> | 
                        <button class="btn btn-danger text-white" @onclick="() => Remove(item.Id)">Delete</button>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>

    <div>
        <button class="btn btn-primary" @onclick="Add">Add</button>
        <input type="checkbox" @bind="IsId">GetById
    </div>
    <br/>
    <div>
        @if (IsId)
        {
            <BookById ModelBook="_book" Book="_bookById" BookId="BookId"/>
        }
    </div>

    <div>
        @if (IsEdit)
        {
            <EditBook Book="_book" EditId="EditId" IsEdit="IsEdit"/>
        }
    </div>
</div>